* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  max-width: initial;
}

/* This come from Scryfall. Ask them if we can reuse this awesome trick */
/* You guys rocks */
.blurry-background {
  position: fixed;
  overflow: hidden;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}

.blurry-background-art {
  background-color: #222;
  background-position: top;
  background-repeat: none;
  background-size: cover;
  position: absolute;
  bottom: -30px;
  left: -30px;
  right: -30px;
  top: -30px;
  -webkit-backface-visibility: hidden;
  -webkit-filter: blur(15px);
  -webkit-perspective: 1000;
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  filter: blur(15px);
  perspective: 1000;
  transform: translateZ(0);
}

.blurry-background-art::before {
  background: linear-gradient(
    180deg,
    rgba(32, 43, 56, 0.5) 0,
    rgba(32, 43, 56, 0.85) 50%,
    var(--background-body)
  );
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.flex {
  display: flex;
}

header {
  grid-column: 1;
}

section {
  flex-direction: column;
  grid-row: 2;
}

button,
textarea {
  margin-bottom: 0;
}

main {
  grid-row: 3;
  grid-column: 1;
}

.overflow-y {
  overflow-y: initial;
}

.p-2 {
  padding: 0.5rem;
}

.m-0 {
  margin: 0;
}

.m-4 {
  margin: 1rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mb-0_5 {
  margin-bottom: 0.125rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mr-4 {
  margin-right: 1rem;
}

.rb-0 {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.rt-0 {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.r-0 {
  right: 0;
}

button,
select {
  margin-right: 0;
}

main {
  font-size: 0;
}

main img {
  height: auto;
  transition: all 0.3s;
  border-radius: 12px;
}

.noGutter {
  margin: 0;
}

.tinyGutter {
  margin: 0 2px 2px 0;
}

.smallGutter {
  margin: 0 4px 4px 0px;
}

.tinySize {
  width: 38mm;
}

.smallSize {
  width: 56mm;
}

.normalSize {
  width: 63mm;
}

.grid {
  display: grid;
}

.gap {
  gap: 0.5rem;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.inline {
  display: inline;
}

.hidden {
  display: none;
}

@media print {
  .overflow-y {
    overflow-y: initial;
  }

  header,
  section {
    display: none;
  }
  body,
  html,
  main {
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

@media screen and (min-width: 480px) {
  body {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr;
  }

  header {
    grid-column: 1 / 3;
  }

  main {
    grid-row: 2;
    grid-column: 2;
  }

  .overflow-y {
    overflow-y: auto;
  }
}
