* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  max-width: initial;
}

/**************************
  Basic Modal Styles
**************************/

.modal {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal__container {
  background-color: var(--background-body);
  padding: 30px;
  max-width: 740px;
  height: 100%;
  width: 50%;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

@supports (display: flex) {
  .modal__container {
    height: initial;
    max-height: 80vh;
  }
}

.modal__header {
  position: relative;
  display: block;
  height: 30px;
  margin-bottom: 20px;
}

@supports (display: flex) {
  .modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: initial;
    margin-bottom: 0px;
  }
}

.modal__title {
  position: absolute;
  top: 20px;
  left: 20px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.25;
  color: var(--text-bright);
  box-sizing: border-box;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: 0;
  cursor: pointer;
  margin: 0px;
  padding: 0px;
}

@supports (display: flex) {
  .modal__title {
    position: static;
  }

  .modal__close {
    position: static;
  }
}

.modal__header .modal__close:before {
  content: "\2715";
}

.modal__content {
  margin-top: 10px;
  margin-bottom: 10px;
  color: var(--text-main);
}

@supports (display: flex) {
  .modal__content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
  }
}

/**************************
  Demo Animation Style
**************************/

@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

/**************************
  Custom styles for individual modals
**************************/

.modal__container button {
  outline: none;
  cursor: pointer !important;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
}

.modal__close {
  font-size: 24px;
}

/**************************
  Mobile custom styles for individual modals
**************************/

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .modal__container {
    width: 90% !important;
    min-width: 90% !important;
  }

  @supports (display: flex) {
    .modal__container {
      width: 90% !important;
      min-width: 90% !important;
    }
  }
}

/* This come from Scryfall. Ask them if we can reuse this awesome trick */
/* You guys rocks */
.blurry-background {
  position: fixed;
  overflow: hidden;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
}

.blurry-background-art {
  background-color: #222;
  background-position: top;
  background-repeat: none;
  background-size: cover;
  position: absolute;
  bottom: -30px;
  left: -30px;
  right: -30px;
  top: -30px;
  -webkit-backface-visibility: hidden;
  -webkit-filter: blur(15px);
  -webkit-perspective: 1000;
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  filter: blur(15px);
  perspective: 1000;
  transform: translateZ(0);
}

.blurry-background-art::before {
  background: linear-gradient(
    180deg,
    rgba(32, 43, 56, 0.5) 0,
    rgba(32, 43, 56, 0.85) 50%,
    var(--background-body)
  );
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.z--1 {
  z-index: -1;
}

.text-base {
  font-size: 1rem;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-gap > * {
  margin: 0 0.5rem;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.align-content-start {
  align-content: flex-start;
}

header {
  grid-column: 1;
}

section {
  flex-direction: column;
  grid-row: 2;
}

button,
textarea {
  margin-bottom: 0;
}

button[disabled] {
  opacity: 0.95;
}

main {
  grid-row: 3;
  grid-column: 1;
}

.overflow-y {
  overflow-y: initial;
}

.p-0 {
  padding: 0;
}

.p-2 {
  padding: 0.5rem;
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.m-0 {
  margin: 0;
}

.m-4 {
  margin: 1rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.ml-4 {
  margin-left: 1rem;
}

.mb-0_5 {
  margin-bottom: 0.125rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mr-4 {
  margin-right: 1rem;
}

.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.rb-0 {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.rt-0 {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.b-2 {
  bottom: 0.5rem;
}

.r-0 {
  right: 0;
}

.uppercase {
  text-transform: uppercase;
}

button,
select {
  margin-right: 0;
}

main {
  font-size: 0; /* ??? */
}

main img {
  height: auto;
  transition: all 0.3s;
  border-radius: 5%;
}

main div {
  transition: all 0.3s;
}

main div button {
  display: none;
}

main div:hover button {
  display: block;
}

.loader {
  text-align: center;
  display: inline-block;
  vertical-align: top;
}

.noGutter {
  margin: 0;
}

.tinyGutter {
  margin: 0 2px 2px 0;
}

.smallGutter {
  margin: 0 4px 4px 0px;
}

.tinySize {
  width: 38mm;
  height: 53.1mm;
}

.smallSize {
  width: 56mm;
  height: 78.2mm;
}

.normalSize {
  width: 63mm;
  height: 88mm;
}

.grid {
  display: grid;
}

.gap {
  gap: 0.5rem;
}

.grid-flow-col {
  grid-auto-flow: column;
}

.inline {
  display: inline;
}

.hidden {
  display: none;
}

.error {
  background: linear-gradient(to top left, #731900ab 30%, #bf2900ab 100%);
  border-radius: 6px;
}

.error > button {
  background-color: transparent;
}

.error > button:hover {
  background-color: #bf2900ab;
}

.error > button:focus {
  box-shadow: 0 0 0 2px var(--code);
}

@media print {
  .overflow-y {
    overflow-y: initial;
  }

  header,
  section {
    display: none;
  }
  body,
  html,
  main {
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

@media screen and (min-width: 480px) {
  body {
    grid-template-columns: 1fr 2fr auto;
    grid-template-rows: auto 1fr auto;
  }

  header {
    grid-column: 1 / 3;
  }

  main {
    grid-row: 2;
    grid-column: 2;
  }

  footer {
    grid-row: 3;
    grid-column: 1 / 3;
  }

  .md-p-2 {
    padding: 0.5rem;
  }

  .overflow-y {
    overflow-y: auto;
  }

  .md-justify-start {
    justify-content: start;
  }
}

.grid-auto-auto-auto {
  grid-template-columns: auto auto auto;
}

.text-center {
  text-align: center;
}

/* .self-end {
  align-self: center;
} */

.text-bold {
  font-weight: bold;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"].number {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}
