* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  max-width: initial;
}

h1 {
  grid-column: 1 / 3;
}

header {
  display: flex;
  flex-direction: column;
  grid-row: 2;
}

header * {
  margin-bottom: 0.5rem;
}

main {
  grid-column: 2;
}

.overflow-y {
    overflow-y: auto;
}

.m-4 {
 margin: 1rem; 
}

.ml-2 {
 margin-left: 0.5rem; 
}

.mr-2 {
 margin-right: 0.5rem; 
}

.ml-4 {
 margin-left: 1rem; 
}

.mr-4 {
 margin-right: 1rem; 
}

button, select {
  margin-right: 0;
}

main {
    font-size: 0;
}

main img {
    height: auto;
    transition: all 0.3s;
}

.noGutter {
    margin: 0;
}

.tinyGutter {
    margin: 0 2px 2px 0;
}

.smallGutter {
    margin: 0 4px 4px 0px;
}

.tinySize {
    width: 38mm;
}

.smallSize {
    width: 56mm;
}

.normalSize {
    width: 63mm;
}

@media print {
    .overflow-y {
        overflow-y: initial;
    }

    header, h1 {
        display: none;
    }
    body,
    html,
    main {
        width: 100%;
        height: 100%;
        margin: 0;
    }
}

@media screen and (min-width : 480px) {
  body {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr;
  }
}
